<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <br><br>
        <center>
            <form action="/index2" method="get">
                <div>
                    <label for="nome">Nome Utente: </label>
                    <input type="text" id="nome" name="nome" maxlength="25" placeholder="Inserisci nome"><br><br>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" maxlength="25" placeholder="Inserisci password"><br><br>
                </div>
                <div>
                    <input type="submit" value="INVIA">
                </div>
        </center>
    </body>
</html>